/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* The Nivo Slider styles */
.slider-wrapper {
    position: relative;
}
.slider-wrapper .triangel {
    background-image: url(../images/material/ornament.png);
    height: 237px;
    width: 207px;
    position: absolute;
    right: -116px;
    bottom: 0px;
    z-index:100;
}
.nivoSlider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}
.nivo-box img {
    display: block;
}
/* Caption styles */
.nivo-caption {
    position: absolute;
    left: 50px;
    bottom: 0px;
    color: #fff;
    width: 350px;
    z-index: 8;
    overflow: hidden;
    display: none;
    margin: auto;
    top: 0px;
    height: 200px;
    font-weight: 200;
}
.nivo-caption h4 {
    font-weight: 200;
    font-size: 20px;
    margin: 0 0 -5px 0;
}
.nivo-caption h1 {
    font-weight: 200;
    font-size: 60px;
    line-height: 45px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
}
.nivo-caption h1 span{color: #00b5cb;}
.nivo-caption p {
    margin: 0;
    font-size:14px;
    font-weight: 300;
    color: #fff;
    line-height: 18px;
}
.nivo-caption a {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	margin-top: 20px;
	padding-right: 25px;
	background-image: url(../images/material/arr_banner_link.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.nivo-html-caption {
    display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer;
}
.nivo-prevNav {
    left: 0px;
}
.nivo-nextNav {
    right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    text-align: center;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
    position: absolute;
    top: 0px;
    right: -15px;
}
.nivo-controlNav a {
    cursor: pointer;
    background-color: #d8d8d8;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
}
.nivo-controlNav a.active {
    background-color: #00b5cb;
}
