/*=============================================================================================	
        style css decorated by : Web Architect (webarq.com)
==============================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
/*
        font weight 300  = Roboto Light
        font weight 400  = Roboto Regular
        font weight 700  = Roboto Bold
        font weight 900  = Roboto Ultra Bold
*/
body ::selection {
    background: #2CB3FF;
}
body ::-moz-selection {
    background: #2CB3FF;
}
body {
    color: #333;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
}
.italic {
    font-style: italic;
}
.bold, strong {
    font-weight: 700;
    color: #000;
}
.regular {
    font-weight: lighter;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}
p {
    margin: 1px 0 15px;
    line-height: 20px;
}
a {
    text-decoration: none;
}
input, textarea, select {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border: 1px solid #D8D8D8;
    padding: 5px;
    margin: 0;
    color: #666;
}
input[type=checkbox], input[type=radio] {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
.afterclear:after {
    content: ' ';
    display: block;
    clear: both;
    height: 1px;
    margin-bottom: -1px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
    width: 940px;
    margin: 0 auto;
}
.title_center {
    font-weight: 300;
    color: #00b5cb;
    text-align: center;
}
.time-detail {
    font-size: 12px;
    color: #999;
    margin-bottom: 25px;
    margin-top: -10px;
}
.qty-photo {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
}
.line-dotted {
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: center;
    height: 1px;
    margin-bottom: 15px;
}
/* style button
----------------------------------------------------------------------------------------------*/
.btn_login {
}
.icon-pdf {
    color: #333;
    background-image: url(../images/material/icon-pdf.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
}
.btn-blue{
    background-color: #00b5cb;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #337b84;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 15px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    position: relative;
}
.btn-blue:after {
    content: '';
    height: 0;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
    position: absolute;
    bottom: 8px;
    right: 13px;
}
.link-icon{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.link-icon img{ vertical-align:middle; margin-right:5px; }
.link-socmed{ margin-right:10px; display:inline-block; }
.link-socmed span{
    display: block;
    font-size: 14px;
    color: #333;
    text-align: center;
}
/* header
----------------------------------------------------------------------------------------------*/
header {
    position: relative;
}
header .top {
    height: 35px;
}
header .top .left, header .top .right {
    width: 50%;
    position: relative;
}
header .top .left {
    background-color: #00b4c5;
}
header .top .left ul {
    padding: 0px;
    list-style-type: none;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
header .top .left ul li {
    float: left;
}
header .top .left ul li:first-child a {
    text-indent: -9999px;
    background-image: url(../images/material/icon-home.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 15px;
}
header .top .left ul li a {
    font-weight: 900;
    color: #b2e8ee;
    display: block;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    position: relative;
}
header .top .left ul li a.active {
    background-color: #fff;
    color: #00b4c5;
    border-top-width: 1px;
    border-right-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #00a2b1;
    border-right-color: #00a2b1;
}
header .top .left ul li a.active:after {
    background-image: url(../images/material/triangel-blue.png);
    position: absolute;
    height: 5px;
    width: 5px;
    left: 0px;
    top: -1px;
    content: '';
}
header .top .right {
    background-color: #6f6e68;
    position: relative;
    text-align: right;
    vertical-align: middle;
    padding-bottom: 6px;
    padding-top: 7px;
}
header .top .right span.career a {
    color: #66d2dc;
}
header .top .right form, header .top .right div {
    display: inline-block;
    vertical-align: middle;
}
header .top .right form {
    margin-right: 20px;
}
header .top .right form input {
    border: 0;
}
header .top .right form input[type=text] {
    padding: 3px;
    background: transparent;
    background-image: url(../images/material/icon-search.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
header .top .right form input[type=text]:focus {
    width: 150px;
    background-position: 138px center;
    background-color: #fff;
    background-image: url(../images/material/icon-search.png);
}
header .top .right:before {
    content: '';
    position: absolute;
    background-image: url(../images/material/top-bg.jpg);
    height: 33px;
    width: 42px;
    left: -21px;
    top: 0px;
}
header .top .right .language {
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #8c8b87;
    border-left-color: #8c8b87;
    margin-right: 7px;
    margin-left: 7px;
    padding-right: 7px;
    padding-left: 7px;
}
header .top .right .language select {
    width: 40px;
}
header .bottom {
    background-image: url(../images/material/bg-menu-trans.jpg);
    background-repeat: repeat-x;
    height: 80px;
}
header .bottom .logo {
    float: left;
    margin-left: 20px;
    margin-top: 13px;
}
header .bottom ul {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    position:relative;
}
header .bottom ul > li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    padding-bottom:7px;
    padding-top:7px;
    position:relative;
}
header .bottom ul > li.have_drop:hover:after{
    content: '';
    position: absolute;
    bottom: -19px;
    width: 0;
    height: 0;
    border-bottom: 15px solid #00b5cb;
    border-left: 15px solid transparent;
    left: 15px;
}
header .bottom ul > li:hover a{color: #00b5cb;}
header .bottom ul > li:hover .area_hover{ display:block; }
header .bottom ul > li .area_hover{
    position: absolute;
    top: 25px;
    z-index: 105;
    padding-top:25px;
    display:none;
    left:-285px;
}
header .bottom ul > li .megabox{
    border-top-width: 3px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #00b5cb;
    border-right-color: #00b5cb;
    border-bottom-color: #00b5cb;
    border-left-color: #00b5cb;
    padding: 15px;
    background-color: #fff;
    min-height: 200px;
    background-image: url(../images/material/bg-megabox.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    min-width:365px;
    right:0px;
    text-align:left;
}
header .bottom ul > li .megabox .column{
    display: inline-block;
    width: 155px;
    vertical-align: top;
    margin-right: 15px;
}
header .bottom ul > li .megabox .column h5{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}
header .bottom ul > li .megabox .column h5 a{ font-weight:700; color:#00b5cb;}
header .bottom ul > li .megabox .column h5 a:after{ display:none; }
header .bottom ul > li .megabox .column.save{ width:180px; text-align:center; float:right;}
header .bottom ul > li .megabox .column.save h4{
    margin: 0px;
    font-weight: 300;
}
header .bottom ul > li .megabox .column.save p{ font-weight:400; font-size:12px; color:#999; line-height:14px; margin-bottom:7px; }
header .bottom ul > li .megabox .column.save a{
    color: #00b5cb;
    display: inline-block;
    font-size: 12px;
}
header .bottom ul > li .megabox .column ul{ margin:0px; padding:0px; float:none; }
header .bottom ul > li .megabox .column ul li{
    float: none;
    margin: 0px;
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
}
header .bottom ul > li .megabox .column ul li:hover:after{ display:none; }
header .bottom ul > li .megabox .column ul li a{
    font-weight: 400;
    font-size: 14px;
}
header .bottom ul > li .megabox .column ul li a:before{
    content: '+';
    color: #00b5cb;
    font-size: 16px;
    margin-right: 8px;
}
header .bottom ul > li .megabox .column ul li a:hover{color: #666;}
header .bottom ul > li .megabox .column ul li a:after{ display:none; }
header .bottom ul > li a {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    display: block;
    position: relative;
    padding-right: 15px;
}
header .bottom ul > li a.active {
    color: #00b5cb;
    font-weight: 700;
}
header .bottom ul > li a:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 4px;
    background-image: url(../images/material/tri-menu.png);
    height: 8px;
    width: 8px;
}
.selector_form_lang {
    display: inline-block;
    position: relative;
}
.selector_form_lang:after {
    content: '';
    position: absolute;
    right: 0px;
    background-image: url(../images/material/arrow-lang.png);
    height: 5px;
    width: 5px;
    bottom: 3px;
}
.selector_form_lang select {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px;
}
.selector_form_lang span {
    display: block;
    padding: 3px;
    text-align: left;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 300;
}
/* middle
----------------------------------------------------------------------------------------------*/
#middle {
    position: relative;
}
section {
    position: relative;
}
#widget {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
#widget .spar{
    float: left;
    border-right: 1px solid #d8d8d8;
    margin: 0 10px;
    height: 150px;
}
#widget .items {
    position: relative;
    float: left;
}
aside .side_link .label,
#widget .items .label {
    color: #FFF;
    font-size: 14px;
    background-color: #6f6e68;
    display: inline-block;
    padding: 7px;
    position: relative;
    left: 0px;
    top: 0px;
    font-weight: 700;
    text-transform: uppercase;
}
aside .side_link .label:after,
#widget .items .label:after {
    width: 0;
    height: 0;
    border-bottom: 8px solid #00b5cb;
    border-left: 8px solid transparent;
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.slider-wrapper{
    float: right;
    width: 700px;
    height: 320px;
}
#widget.side_link:before,
.slider-wrapper:before{
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0px;
    background-image: url(../images/material/shadow-banner.png);
    background-repeat: repeat-x;
    background-position: center top;
    z-index:100;
}
aside .side_link,
#widget.side_link{position: relative;width: 240px;margin: 0}
#widget.side_link .items{background:#00b5cb; width:230px;}
#widget.side_link .items:before{
    height: 0;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
}
aside .side_link a,
#widget.side_link .items a{ 
    display: block;
    height:80px;
    border-bottom: 1px solid #0e939f;
    border-top: 1px solid #17c5d6;
}
aside .side_link a span,
#widget.side_link .items a span{display: block;float: left;height: 80px;}
aside .side_link a span.ico,
#widget.side_link .items a span.ico{position: relative;width:80px;}
aside .side_link a span.ico img,
#widget.side_link .items a span.ico img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
aside .side_link a span.text,
#widget.side_link .items a span.text{width: 140px;}
aside .side_link a span.text h6,
#widget.side_link .items a span.text h6{
    display: inline-block;
    font-weight: 700;
    color:#FFF;
    margin:18px 2px 0 0;
    padding:0 15px 0 0;
    background: url(../images/material/arr_side_link.png) no-repeat right 6px;
}
aside .side_link a span.text  p,
#widget.side_link .items a span.text p{
    color: #00646d;
    font-size: 11px;
    line-height: 12px;
    margin: 0;
    font-weight: 400;
}
#widget.side_link .items a.loc_link{
    background: url(../images/material/pin_loc.png) no-repeat 15px center;
    height: 20px;
    padding:11.5px 10px 11.5px 37px;
    color: #FFF;
}
#widget.side_link .items a.loc_link:hover{ color:#00646d}
#widget.side_link .items a:nth-child(2){ border-top:none;}
#widget.side_link .items a:last-child{ border-bottom: none;}
#widget.side_link .items a span.text:hover > p{color: #FFF;}

#widget .items.about {
    width: 300px;
    color: #fff;
    background-image: url(../images/material/bg-widget-about.png);
    background-repeat: no-repeat;
    height: 170px;
}
#widget .items.about h4 {
    font-weight: 300;
    width: 170px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 0px;
    font-size: 18px;
    line-height: 20px;

}
#widget .items.about a {
    color: #fad901;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}
#widget .items.about a:after {
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    content: '';
    position: absolute;
    bottom: 6px;
    right: 0px;
}
#widget .items.about p {padding-left: 15px;margin-top: 8px;}

#widget .items.customers{width: 350px;}
#widget .items.customers .label{display: block;width: 130px}
#widget .items.customers .label:after {border-bottom-color: #fff;}
#widget .items.customers .box_customers{position: relative;height: 140px;border:1px solid #d8d8d8; text-align:center; }
#widget .items.customers .box_customers:after{
    content: " ";
    position: absolute;
    background: url(../images/material/border_arr.png);
    width: 21px;
    height: 20px;
    right: -1px;
    bottom: -1px;

}
#widget .items.customers .box_customers a{
    display: inline-block;
    margin: 3px 10px 0;
    width: 80px;
    height: 60px;
    text-align: center;
    color:#00b5cb;
    font-size: 11px;
    line-height: 12px;
}
#widget .items.customers .box_customers a:hover{color: #00646d;}
#widget .items.customers .financial_download{
    position: relative;
    display: inline-block;
    background: #00b5cb url(../images/material/financial_download_ico.png)  no-repeat 10px center;
    width: 135px;
    color: #FFF;
    padding: 8px 5px 8px 30px;
    font-weight: 700;
}
#widget .items.customers .sqf{
    position: relative;
    display: inline-block;
    background: #00b5cb url(../images/material/icon-sqf.png)  no-repeat 10px center;
    color: #FFF;
    padding: 8px 10px 8px 30px;
    font-weight: 700;
}
#widget .items.customers .financial_download:after,#widget .items.customers .sqf:after{
    width: 0;
    height: 0;
    border-bottom: 7px solid #FFF;
    border-left: 7px solid transparent;
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
}


#widget .items.unit-link .row {
    display: table;
    background-color: #00b4c5;
    width: 248px;
    height: 80px;
    margin-bottom: 10px;
    position: relative;
    vertical-align:middle;
}
/*custom individu css end */

#widget .items.unit-link .row:after {
    height: 0;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
}
#widget .items.unit-link .row .box-grey {
    background-color: #6f6e68;
    color: #fff;
    padding: 5px;
    float: left;
    height: 70px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
}
#widget .items.unit-link .row .box-grey .date {
    font-size: 24px;
    display: block;
    line-height: 24px;
}
#widget .items.unit-link .row .box-grey .title {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    display: block;
}
#widget .items.unit-link .row .box-grey .small {
    font-size: 10px;
}
#widget .items.unit-link .row h2 {
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 95px;
    padding-top: 10px;
    line-height: 21px;
}
#widget .items.unit-link .row h2 span {
    font-size: 11px;
    display: block;
    font-weight: 400;
}
#banner-content {
    position: relative;
}
#banner-content:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0px;
    background-image: url(../images/material/shadow-banner.png);
    background-repeat: repeat-x;
    background-position: center top;
    z-index: 100;
}
#banner-content .title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background-color: #00b5cb;
    position: absolute;
    left: 0px;
    bottom: 50px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 11px;
    padding-left: 20px;
    text-transform: uppercase;
}
#banner-content .title span {
    position: relative;
}
#banner-content .title span:after {
    content: url(../images/material/border-caption.png);
    position: absolute;
    right: -25px;
    top: -10px;
}
#banner-content .triangel {
    background-image: url(../images/material/ornament.png);
    height: 237px;
    width: 207px;
    position: absolute;
    right: -116px;
    bottom: 3px;
}
nav.share {
    font-size: 11px;
    font-weight: 400;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    padding-top: 7px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}
nav.share a {
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
}
nav.share a.center {
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: #eaeaea;
    border-left-color: #eaeaea;
}
nav.share img {
    vertical-align: middle;
}
aside {
    float: left;
    width: 220px;
    margin-right: 20px;
}
aside .items.report {
    margin-top: 20px;
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 10px;
}
aside .items.report .date {
    background-color: #00b5cb;
    padding: 7px;
    float: left;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: 33px;
    text-align: center;
    position: relative;
}
aside .items.report .date:after {
    width: 0;
    height: 0;
    border-top: 40px solid #00b5cb;
    border-right: 59px solid transparent;
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
}
aside .items.report .date span {
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    line-height: 14px;
    margin-top: 10px;
}
aside .items.report .row {
    position: relative;
    margin-left: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 10px;
}
aside .items.report .row.last {
    background-image: none;
}
aside .items.report .row h4 {
    text-transform: uppercase;
    color: #000;
    margin: 0;
    font-size: 16px;
}
aside .items.report .row h3 {
    color: #00b5cb;
    font-weight: 700;
    line-height: 17px;
    display: inline-block;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
    background-image: url(../images/material/line-dotted-v.jpg);
    background-repeat: repeat-y;
    background-position: right;
    padding-right: 13px;
    width: 51px;
    font-size: 16px;
}
aside .items.report .row a {
    position: absolute;
    top: 0;
    right: 0;
}
aside .items.report .row h3.last {
    background-image: none;
}
aside .items.report .row h3 span {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    display: block;
}
aside .items.report p {
    font-size: 10px;
    font-weight: 400;
}
.submenu {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.submenu li {
}
.submenu li a {
    font-size: 16px;
    color: #666;
    display: block;
    position: relative;
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-top: 10px;
    padding-bottom: 10px;
}
.submenu li a:hover {color: #00b4c5;}
.submenu li a.active {
    color: #00b4c5;
    font-weight: 700;
}
.submenu li a.active:after {
    height: 0;
    border-bottom: 7px solid #00b4c5;
    border-left: 7px solid transparent;
    content: '';
    position: absolute;
    bottom: 10px;
    right: 0;
}
.submenu li ul {
    list-style: none;
    padding-left: 20px;
    margin: 0px;
}
address {
    font-style: normal;
    margin-top: 20px;
}
address .label {
    background-color: #6f6e68;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
address .label:after {
    height: 0;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
}
address img {
    float: left;
}
address h6, address p {
    margin-left: 65px;
}
address div {
    margin-top: 10px;
}
address h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #00b5cb;
    font-weight: 700;
    font-style: normal;
}
address p {
    font-weight: 400;
    color: #666;
    line-height: 15px;
    font-style: normal;
}
address a {
    color: #00b5cb;
    margin-right: 15px;
    position: relative;
    padding-right: 15px;
}
address a:after {
    height: 0;
    border-bottom: 7px solid #00b5cb;
    border-left: 7px solid transparent;
    content: '';
    position: absolute;
    bottom: 3px;
    right: 0;
}
#content {
    margin-left: 240px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #eaeaea;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    min-height: 600px;
}
#content p {
    font-size: 14px;
}
#content .img_content {
    margin-bottom: 25px;
    position: relative;
}
#content .img_content img {
    width: 100%;
}
#content .img_content:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: 3px;
    right: 0px;
}
#content ol,#content ul{
    padding-left: 20px;
}
#content ol li,#content ul li{ font-size:14px; margin-bottom:7px; }
#content h2 {
    font-weight: 300;
    color: #00b5cb;
    font-size: 40px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    line-height: 48px;
}
#content h6 {
    margin: 0px 0px 5px;
    font-weight: 700;
}
#content h3 {
    font-weight: 300;
    color: #666;
}
#content h4{ margin-bottom:7px; }
#content .ul_style {
    padding-left: 20px;
    list-style-image: url(../images/material/list-style.jpg)
}
#content .ul_style li {
    font-size: 14px;
    margin-bottom: 6px;
}
#content .breadcumb {
    font-size: 11px;
    color: #999;
    font-weight: 400;
    margin-bottom: 10px;
}
#content .breadcumb a {
    color: #00b5cb;
}
#content .breadcumb a:last-child {
    color: #999;
}
.structure {
    padding: 0px;
    list-style-type: none;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}
.structure li {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: top;
}
.structure li p {
    font-weight: 400;
    color: #999;
    font-size: 12px !important;
    line-height: 14px !important;
}
.structure li p span {
    font-weight: 700;
    color: #00b5cb;
    display: block;
}
.list-items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.list-items li {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}
.list-items li img {
    float: left;
}
.list-items li .text {
    margin-left: 125px;
}
.list-items li h3 {
    font-weight: 300;
    margin: 0px;
    color: #666;
}
.list-items li p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-items.awards li .image {
    border: 1px solid #d8d8d8;
    float: left;
    position: relative;
}
.list-items.awards li .image img,.list-items.testi li .image img  {
    float: none;
    margin-bottom: -3px;
}
.list-items.awards li .image:after,.list-items.testi li .image:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: -1px;
    bottom: -1px;
    background-image: url(../images/material/corner-awards.png);
    background-repeat: no-repeat;
}
.list-items.awards li .text {
    margin-left: 235px;
}
.list-items.awards li .text h4 {
    color: #00b5cb;
    margin: 0px;
    font-weight: 300;
}
.list-items.awards li .text p.list {
    font-size: 18px !important;
    color: #00b5cb;
}
.list-items.testi li{
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 10px;
}
.list-items.testi li .image{ position:relative; float:left; }
.list-items.testi li .text{ margin-left:185px !important; }
.list-items.testi li h6{ color:#00b5cb; font-weight:700; }
.list-items.testi li .position{
    font-size: 12px;
    color: #999;
    font-style: italic;
}
.list-items.testi li p{
    font-style: italic;
    font-weight: 400;
    color: #333;
}
.paging {
}
.paging a {
    background-color: #cccccc;
    display: inline-block;
    color: #666;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    position: relative;
    margin-right: 3px;
}
.paging a:after {
    width: 0;
    height: 0;
    border-bottom: 3px solid #fff;
    border-left: 3px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    content: ''
}
.paging a.active {
    color: #fff;
    background-color: #00b5cb;
}
.list-sequis {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.list-sequis li {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.list-sequis li .char {
    float: left;
}
.list-sequis li h4 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    color: #00b5cb;
    font-weight: 700;
}
.list-sequis li p {
    margin-left: 80px;
    font-size: 14px;
}
.list-news {
    padding: 0px;
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
}
.list-news li {
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-position: bottom;
    position: relative;
}
.list-news li .time {
    font-size: 12px;
    color: #999;
}
.list-news li h4 {
    margin-top: 7px;
    margin-right: 0px;
    margin-bottom: 7px;
    margin-left: 0px;
    font-weight: 300;
}
.list-news li h4 a {
    color: #333;
}
.list-news li p {
    color: #666;
}
.list-news li .icon-pdf {
    position: absolute;
    right: 0px;
    top: 35px;
}
nav.detail-desc {
    text-align: center;
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: top;
    padding-top: 10px;
}
nav.detail-desc a {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    display: inline-block;
    position: relative;
    text-decoration: underline;
}
nav.detail-desc a.left, nav.detail-desc a.right {
    padding-right: 15px;
    text-decoration: none;
}
nav.detail-desc a.left:after, nav.detail-desc a.right:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 9px solid #666;
    border-left: 9px solid transparent;
    position: absolute;
    right: 0;
    bottom: 3px;
}
.gallery {
    padding: 0px;
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
.gallery li {
    float: left;
    width: 205px;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
}
.gallery.album li:after {
    content: '';
    background-image: url(../images/material/border-album.png);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 2px !important;
    top: 2px !important;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 2;
    border: 0;
}
.gallery li:after {
    width: 0;
    height: 0;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    position: absolute;
    right: 0px;
    top: 140px;
    content: '';
}
.gallery li h6 {
    font-weight: 300 !important;
    color: #666;
    margin-bottom: 0px !important;
    margin-top: 8px !important;
}
.gallery li .link-cover {
    position: absolute;
    z-index: 3;
    height: 160px;
    width: 100%;
    left: 0px;
    top: 0px;
    text-indent: -9999px;
}
.gallery li span {
    font-size: 12px;
    color: #999;
}
#contact {
}
#contact td {
    padding-top: 10px;
    padding-bottom: 10px;
}
#contact label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    margin-bottom: 5px;
}
#contact select {
    padding: 11px;
    width: 623px;
}
#contact label span {
    color: #ed1c24;
}
#contact input[type=text] {
    padding: 11px;
    font-size: 14px;
    color: #333;
}
#contact textarea {
    height: 150px;
    padding: 11px;
    width: 600px;
    font-size: 14px;
}
#contact .subject {
    width: 600px;
}
#contact .name {
    width: 350px;
}
#contact .code {
    width: 222px;
}
.selector_form {
    display: inline-block;
    position: relative;
}
.selector_form:after {
    content: '';
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #00b5cb;
    border-bottom: none;
    top: 15px;
    right: 15px;
}
.selector_form select {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}
.selector_form span {
    display: block;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    text-align: left;
    color: #666;
    font-size: 14px;
    font-weight: 400;
}
.accordion {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.accordion li {
    background-image: url(../images/material/line-dotted.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
}
.accordion li a {
    display: block;
    position: relative;
    color: #666;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.accordion li a.active {
    font-size: 14px;
    font-weight: 700;
    color: #00b5cb;
}
.accordion li a.active:after {
    height: 0;
    border-bottom: 7px solid #00b4c5;
    border-left: 7px solid transparent;
    content: '';
    position: absolute;
    bottom: 10px;
    right: 0;
}
.accordion li .answer {
    padding: 20px;
    display: none;
}
.accordion li .answer strong {
    color: #666 !important;
}
.table_career{
    margin-bottom: 20px;
}
.table_career thead td{
    font-size: 18px;
    font-weight: 700;
    color: #00b5cb;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table_career td .number{
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    text-align: left;
    background-image: url(../images/material/icon-phone.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.table_career td{
    border: 1px solid #d8d8d8;
}
.table_career td .number span{
    display: block;
    font-size: 18px;
    color: #333;
    font-weight:700;
}
.table_career tfoot td{
    background-color: #eaeaea;
    padding-top: 9px;
    padding-bottom: 9px;
}
.table_career tfoot td a{
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-right: 7px;
    margin-left: 7px;
}
.table_career tfoot td a img{ vertical-align:middle; margin-right:5px; }
.list-career{
    padding: 0px;
    list-style-type: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}
.list-career > li{
    border: 1px solid #d8d8d8;
    position: relative;
    padding: 20px;
    margin-bottom:10px;
}
.list-career > li:after{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    right: -1px;
    bottom: -1px;
    background-image: url(../images/material/corner-awards.png);
}
.list-career > li h3{
    font-weight: 400 !important;
    color: #333;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.list-career > li .btn-blue{ margin-top:20px; display:inline-block; }
#inline{
    padding: 40px;
    width: 400px;
}
#inline h3{
    margin: 0px;
    font-weight: 300;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #00b5cb;
    padding-bottom: 15px;
}
#inline .note{
    font-size: 12px;
    font-weight: 400;
    color: #999;
    margin-top:3px;
}
#inline input[type=text]{ width:375px; }
.file_form {
    border: 1px solid #e4e1d0;
    padding-left: 10px;
    font-size: 13px;
    color: #ACACAC;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background:#fff;
}
.file_form:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 12px;
    color: #fff;
    background-image: url(../images/material/icon-folder.png);
    height: 17px;
    width: 19px;
}
.file_form input {
    opacity: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    padding:10px;
}
.file_form span {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 13px;
    bottom: 0px;
}
.file_form div {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 13px;
    bottom: 0px;
}
/* footer
----------------------------------------------------------------------------------------------*/
footer {
    position: relative;
    margin-top: 15px;
}
footer .wrapper {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #00b4c5;
    padding-top: 10px;
}
footer p {
    font-weight: 400;
    font-size: 11px;
    color: #999;
}
footer p a {
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
}
footer p a img {
    vertical-align: middle;
}

/* individu middle css custom
-----------------------------------------------------------------------------*/
aside .side_link {margin-top: 40px;}
aside .side_link .label:after{border-bottom-color: #FFF;}
aside .side_link a{border:none;}
aside .side_link a span.text h6{color:#00b5cb;background: url(../images/material/tri-menu.png) no-repeat right 5px}
aside .side_link a span.text p{color:#666666;}

#content .contact_claim{border:1px solid #d9d9d9;color: #00b5cb;margin-top: 30px;}
#content .contact_claim h6{text-align: center;padding: 15px 0 ;text-transform: uppercase;}
#content .contact_claim .box_cclaim{
    width: 322px;
    border-top: 1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
    text-transform: uppercase;
    padding: 40px 0;
}
#content .contact_claim .box_cclaim a{display: block;width: 140px;margin: auto;}
#content .contact_claim .box_cclaim a span{color:#666666;font-weight: 400;font-size: 14px;}
#content .contact_claim .box_cclaim a h5{color:#333;font-weight: 700;font-size: 18px;margin: 0}
#content .contact_claim .faxmile {border-right: none;}
#content .contact_claim .faxmile a{
    background: url(../images/material/faxmile.png) no-repeat left center;
    padding-left:47px;
}
#content .contact_claim .phone a{
    background: url(../images/material/icon-phone.png) no-repeat left center;
    padding-left:32px;
}
#content .contact_claim .email{width: 100%;padding:13px 0;background:#eaeaea;text-align: center;}
#content .contact_claim .email a{
    background: url(../images/material/icon-contact.png) no-repeat left center;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
#content a.std_link {
    font-size: 14px;
    background: url(../images/material/tri-menu.png) no-repeat right 6px;
    color: #00b5cb;
    font-weight: 700;
    padding-right: 15px;
}
#content a.std_link:hover{color: #00646d}
#content h5{
    font-size: 18px;
    margin-bottom: 15px;
    color: #00b5cb;
}
#content h5.black{color: #333;}

#content .download_file{padding: 30px 0;}
#content .download_file h6,
#content .download_file h5{color:#00b5cb;}
#content .download_file a{
    display: block;
    height: 20px;
    font-weight: 200;
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}
#content .download_file a span.text{float: left;}
#content .download_file a span.file{float: right;padding: 0 0 0 25px;}
#content .download_file a.doc span.file{background: url(../images/material/doc_ico.png) no-repeat left center;}
#content .download_file a.pdf span.file{background: url(../images/material/icon-pdf.jpg) no-repeat left center;}

#content a.std_link.pdf,
#content a.std_link.doc{background: none;}
#content a.std_link.doc span:first-child{
    background: url(../images/material/tri-menu.png) no-repeat right 6px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 5px;
}
#content a.std_link.doc span.file,
#content a.std_link.pdf span.file{
    float:  none;
    display: block;
    padding: 3px 0 3px 25px;    
    color: #666;
    font-weight: 200;
}
#content a.std_link.doc span.file{background: url(../images/material/doc_ico.png) no-repeat left center;}
#content a.std_link.pdf span.file{background: url(../images/material/icon-pdf.jpg) no-repeat left center;}

aside .submenu li ul{display: none}
aside .submenu li.expand ul{display: block;}
aside .submenu li.expand a.parent{color:#00b5cb;font-weight: 700;}

#content .accordion{position: relative;}
#content .accordion .head{
    background: url(../images/material/accordion_open.png) no-repeat 98% center;
    padding: 10px 5px;
    margin:  0 0 -1px 0;
    border-top:1px solid #01d2eb;
    border-bottom:1px solid #01d2eb;
    font-size: 18px;
    font-weight: 400;
    color:#666;
    cursor: pointer;
}
#content .accordion .head.expand{
    background: url(../images/material/accordion_close.png) no-repeat 98% center;
}
#content .accordion .content{display: none;padding: 30px 10px;}
#content .accordion .open{display: block;}
#content .search_hospital{
    padding:20px 0; 
    border-top: 1px dotted #e5e5e5;
    border-bottom:1px dotted #e5e5e5;
    margin-bottom: 30px;

}
#content .search_hospital .row{margin-bottom: 10px;}
#content .search_hospital label{
    display:inline-block;
    font-size: 14px;
    font-weight: 700;
    width: 130px;
}
#content .search_hospital select{width: 240px;}
#content .search_hospital .button{
    position: relative;
    display: inline-block;
    padding: 0 30px 0 20px;
    height: 40px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    top:-2px;
    margin-left: 10px;
    border:none;
    border-bottom: 3px solid #31787f;
    background: #00b5cb url(../images/material/arr_banner_link.png) no-repeat 90% 16px;
}
#content .box_hospital{
    border-bottom:1px dotted #e5e5e5;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
#content .search_hospital .button:hover{
    background-color: #31787f;
    border-color: #00b5cb;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* Mobile styles */
}
@media screen and (min-width:481px) and (max-width:1024px) {
    /* Tablet styles */
}
@media only screen and (min-width: 1140px) {
    /* Desktop styles */
}
