#timeline {
	height: 350px;
	overflow: hidden;
	margin: 100px auto;
	position: relative;
}
#timeline .wraping_time {
	overflow: hidden;
	margin-left: 35px;
	margin-right: 35px;
	background-image: url(../images/material/dot.gif);
	background-repeat: repeat-x;
	background-position: 0 center;
}
#dates {
	height: 70px;
	overflow: hidden;
	position:relative;
	left:-321px;
}
#dates li {
	list-style: none;
	float: left;
	font-size: 14px;
	text-align: center;
	width: 100px;
	margin-top: 26px;
	background-image: url(../images/material/biggerdot.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#dates a {
	color: #00b5cb;
	font-weight: 700;
	border: 2px solid #00b5cb;
	padding-top: 17px;
	padding-right: 10px;
	padding-bottom: 17px;
	padding-left: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
}
#dates .selected {
	font-size: 16px;
	color: #fff;
	background-color: #00b5cb;
	padding-top: 23px;
	padding-right: 15px;
	padding-bottom: 23px;
	padding-left: 15px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: relative;
	background-image: url(../images/material/border-circle.png);
	background-position: center center;
}
#dates .selected:after {
}
#issues {
	width: 649px;
	height: 350px;
	overflow: hidden;
}
#issues li {
	width: 640px;
	height: 350px;
	list-style: none;
	float: left;
}
#issues li h1 {
	color: #00b5cb;
	font-size: 24px;
	margin: 20px 0;
}
#issues li p {
	font-size: 14px;
	margin-right: 70px;
	font-weight: 300;
	line-height: 22px;
}
#next, #prev {
	position: absolute;
	font-size: 70px;
	top: 22px;
	width: 22px;
	height: 43px;
	background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	background-color: #fff;
}
#next:hover, #prev:hover {
	background-position: 0 top;
}
#next {
	right: 0;
	background-image: url('../images/material/next.png');
}
#prev {
	left: 0;
	background-image: url('../images/material/prev.png');
}
#next.disabled, #prev.disabled {
	opacity: 0.2;
}
